# .htaccess file for ContentJelly


# rewrite rules
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /contentjelly
# Example:
# RewriteBase /
# or
# RewriteBase /dev/thebuggenie

  # skip all hidden files (starting with a .)
  RewriteCond %{REQUEST_URI} \..+$
  RewriteCond %{REQUEST_URI} !\.(html|wsdl|json|xml)$
  RewriteRule .* - [L]

  # redirect to front controller
  RewriteRule ^(.*)$ index.php?i_l=$1 [NC,QSA,L]

</IfModule>

# Stop people accessing directories they shouldn't have access to
RedirectMatch 403 ^/\.svn(/|$)
